{% extends 'base.html' %}

{% block content %}

    <div class='col-xs-12 col-md-4 col-sm-2 gray mt-5'>

        <div class="card" style="width: 18rem;">
        <img src="{{ object.user.profile.image.url }}" class="card-img-top" alt="{{ object.user.get_full_name }}" height=200 width=40>
        <div class="card-body">
            <h5 class="card-title"> 
            <a href="{% url 'app:profile_detail' object.user.id %}">{{ object.user.get_full_name }}</a>  
            </h5>
            <p class="card-text">About Section</p>
        </div>
        </div>

    </div>
{% endblock %}