{% extends 'base.html' %}

{% block content %}
<div class='container-fluid mt-5'>
    <div class='row'>
        {% for student in students %}
        <div class='col-xs-12 col-md-4 col-sm-2 gray'>

          <div class="card" style="width: 18rem;">
            <img src="{{ student.user.profile.image.url }}" class="card-img-top" alt="{{ student.user.get_full_name }}" height=200 width=40>
            <div class="card-body">
              <h5 class="card-title"> 
                <a href="{% url 'app:profile_detail_student' student.user.id %}">{{ student.user.get_full_name }}</a>  
              </h5>
              <p class="card-text">{{ student.user.profile.about }}</p>
            </div>
          </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}