{% extends 'base.html' %}

{% block content %}
    <div class='col-xs-12 col-md-4 col-sm-2 gray mt-5'>
        <div class="card" style="width: 18rem;">
        <img src="{{ object.user.profile.image.url }}" class="card-img-top" alt="{{ object.user.get_full_name }}" height=200 width=40>
        <div class="card-body">
            <h5 class="card-title"> 
            <a href="{% url 'app:profile_detail_student' object.user.id %}">{{ object.user.get_full_name }}</a>  
            </h5>
            <p class="card-text">{{ object.user.profile.about }}</p>
        </div>
        {% if object.user.is_student %}
        <form action="{% url 'app:add_star' object.pk %}" method="POST">
            {% csrf_token %}
                {% if is_liked %}
                <button type="submit" id="like" name="id" value="{{ object.user.student.id }}" class="btn mr-2" style="background-color:white;"><i class="fa fa-star" style="font-size:48px;color:gold"></i></button>
                {% else %}
                <button type="submit" id="like" name="id" value="{{ object.user.student.id }}" class="btn" style="background-color: white;"> <i class="fa fa-star-o" style="font-size:36px"></i></button>
                {% endif %}
          </form>
        {% endif %}
        </div>

    </div>
{% endblock %}