
.navbar-brand {
    font-family: 'Peralta', cursive;
  }

  .card-container{
    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    justify-content:center;
    align-items:center;
    text-align:center;
    grid-gap: 1px;
  }